@font-face {
  font-family: lcd;
  src: url(../lcd-font-master/otf/LCD14.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preloader {
  background-color: #000;
  opacity: 1;
  color: green;
  font-size: 30px;
}
html {
  font-size: 12px;
  @media (min-width: 360px) {
    font-size: 14px;
  }
  @media (min-width: 400px) {
    font-size: 15px;
  }
  @media (min-width: 700px) {
    font-size: 18px;
  }
}

body {
  background-color: transparent;
  font-family: "Roboto Mono";
  color: white;
  overflow-x: hidden;
}
.wrap {
  //   max-width: 1200px;
  margin: 0 auto;
}
.arrow {
  cursor: pointer;
}
header {
  position: relative;
  height: 100vh;
  background-color: #000;
  color: green;
  font-family: lcd;
  .txt {
    position: absolute;
    margin-left: 3vh;
    top: 25vh;
    @media (min-width: 1000px) {
      font-size: 48px;
    }
  }
  .spnCursor {
    opacity: 0;
    transition: 0.2s;
  }
  .spnCursor.active {
    opacity: 1;
  }
  .arrow--down {
    position: absolute;
    bottom: 15vh;
    left: 50vw;
  }
  .fa-chevron-down {
    opacity: 0;
    display: block;
  }
  .fa-chevron-down.active {
    opacity: 1;
  }
}
section {
  //   min-height: 100vh;
  background-color: #333333;
}

.about {
  background-color: #fff;
  color: black;
  text-align: center;
  margin: 5vh 0;
  h1 {
    font-size: 7vh;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
      height: 30vh;
      @media (min-width: 1000px) {
        height: 50vh;
      }
    }
    p {
      margin: 3vh;
      @media (min-width: 1000px) {
        max-width: 50vw;
      }
    }
  }
}

.projects {
  background-color: #181414;
  padding: 5vh;
  text-align: center;
  h1 {
    font-size: 7vh;
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
  }

  article {
    margin: 2vh;
    position: relative;
    color: black;

    img {
      border: 1px solid 4d4d4d;
      height: 25vh;
      border-radius: 10px;
      @media (min-width: 1000px) {
        height: 28vh;
      }
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 25vh;
      width: 100%;
      background-color: #fff;
      border: 1px solid 4d4d4d;
      border-radius: 10px;
      z-index: 2;
      opacity: 0;
      transition: 0.2s;
      @media (min-width: 1000px) {
        height: 28vh;
      }
      h3 {
        margin-top: 1vh;
      }
      h4 {
        font-weight: normal;
        position: absolute;
        top: 25%;
        width: 100%;
        text-align: center;
      }
      button {
        padding: 1vh 3vh;
        border: 1px solid #333;
        border-radius: 10px;
        background-color: #4d4d4d;
        @media (min-width: 1000px) {
          padding: 1.5vh 5vh;
          font-size: 16px;
        }
      }
      button:hover {
        background-color: #857f7f;
        border: 1px solid #ccc;
      }
      a {
        text-decoration: none;
        color: white;
        font-family: "Roboto Mono";
        padding: 1vh;
      }
      :nth-child(3) {
        position: absolute;
        top: 70%;
        left: 15%;
      }
      :nth-child(4) {
        position: absolute;
        top: 70%;
        right: 15%;
      }
      #taniprad__btn {
        top: 70%;
        left: 35%;
      }
    }
    .balloons__props {
      background-color: #00bffe;
    }
    .kolofortuny__props {
      background-color: #88fefe;
    }
    .pogoda__props {
      background-color: #8ed0e6;
    }
    .stoper__props {
      background-color: #cfd0e4;
    }
    .todoapp__props {
      background-color: #ceaf9d;
    }
    .taniprad__props {
      background-color: #424280;
    }
  }
}
.contact {
  position: relative;
  text-align: center;
  padding-top: 5vh;
  h1 {
    font-size: 6vh;
  }

  .contact__items {
    display: block;
    padding-top: 5vh;
    max-width: 300px;
    margin: 0 auto;
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 3vh;

      a {
        text-decoration: none;
        color: white;
        p {
          margin-left: 2vh;
        }
        :hover {
          color: green;
        }
      }
    }
  }
  .arrow--up {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    &:hover {
      color: green;
    }
  }

  .fa-chevron-up {
    opacity: 0;
    display: block;
  }
  .fa-chevron-up.active {
    opacity: 1;
  }
}
.footer {
  background-color: #000;
  text-align: center;
  padding: 2.5vh;
  font-size: 12px;
}
